memory_dumps/*
benign_dumps/
upload_sessions/*
vol_output/*
extracted_data_augmented/*
extracted_csvs/*
!extracted_csvs/manifest_hard_benign.example.csv
output/*
backup/
outputs/
notebook/*
.venv
.venv_docx
__pycache__/
**/__pycache__/
*.pyc
.ipynb_checkpoints/
*.zip
*.7z
*.rar
*.tar
*.gz
*.bz2
*.xz
*.lzma
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.lzma
.DS_Store